<a href="https://colab.research.google.com/github/ravikumarg033/train/blob/master/Copy_of_Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
L1 = [2, 4, 6, 10]
L2=L1
del(L2[2])
print(L5)

SyntaxError: ignored

In [3]:
import pandas 
x =  concrete_df[["coment", "slag", "ash", "water", "superplastic", "coarseaff", "fineagg", "age" ]]
y = concrete_df.strengh

NameError: ignored

In [5]:

import statsmodels.api as sm
import scipy.stats as stats
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np 


x=['cyi', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
y=carb.mpg
X=sm.add_constant(X)
print(X)

model = sm.OLS(y,X).fit()
predictions = model.predict(X)
model.summary()

NameError: ignored

In [6]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
import seaborn as sns
import matplotlib.pyplot as plt

cement_df=pd.read_csv('concrete.csv')
print(cement_df.shape)
print(cement_df.columns)
cement_df.head()
print(cement_df.head())

(1030, 9)
Index(['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg',
       'fineagg', 'age', 'strength'],
      dtype='object')
   cement   slag    ash  water  superplastic  coarseagg  fineagg  age  \
0   141.3  212.0    0.0  203.5           0.0      971.8    748.5   28
1   168.9   42.2  124.3  158.3          10.8     1080.8    796.2   14
2   250.0    0.0   95.7  187.4           5.5      956.9    861.2   28
3   266.0  114.0    0.0  228.0           0.0      932.0    670.0   28
4   154.8  183.4    0.0  193.3           9.1     1047.4    696.7   28

   strength
0     29.89
1     23.51
2     29.22
3     45.85
4     18.29

In [10]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor

cement_df=pd.read_csv('concrete.csv')
print(cement_df.shape)
print(cement_df.columns)
cement_df.head()
print(cement_df.head())

X=cement_df[["cement", "slag", "ash", "water", "superplastic", "coarseagg", "age"]]
y=cement_df.strength
X=sm.add_constant(X)
print(X)

(1030, 9)
Index(['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg',
       'fineagg', 'age', 'strength'],
      dtype='object')
   cement   slag    ash  water  superplastic  coarseagg  fineagg  age  \
0   141.3  212.0    0.0  203.5           0.0      971.8    748.5   28
1   168.9   42.2  124.3  158.3          10.8     1080.8    796.2   14
2   250.0    0.0   95.7  187.4           5.5      956.9    861.2   28
3   266.0  114.0    0.0  228.0           0.0      932.0    670.0   28
4   154.8  183.4    0.0  193.3           9.1     1047.4    696.7   28

   strength
0     29.89
1     23.51
2     29.22
3     45.85
4     18.29
      const  cement   slag    ash  water  superplastic  coarseagg  age
0       1.0   141.3  212.0    0.0  203.5           0.0      971.8   28
1       1.0   168.9   42.2  124.3  158.3          10.8     1080.8   14
2       1.0   250.0    0.0   95.7  187.4           5.5      956.9   28
3       1.0   266.0  114.0    0.0  228.0           0.0      932.0   28
4       1.0   154.8  183.4    0.0  193.3           9.1     1047.4   28
5       1.0   255.0    0.0    0.0  192.0           0.0      889.8   90
6       1.0   166.8  250.2    0.0  203.5           0.0      975.6    7
7       1.0   251.4    0.0  118.3  188.5           6.4     1028.4   56
8       1.0   296.0    0.0    0.0  192.0           0.0     1085.0   28
9       1.0   155.0  184.0  143.0  194.0           9.0      880.0   28
10      1.0   151.8  178.1  138.7  167.5          18.3      944.0   28
11      1.0   173.0  116.0    0.0  192.0           0.0      946.8    3
12      1.0   385.0    0.0    0.0  186.0           0.0      966.0   14
13      1.0   237.5  237.5    0.0  228.0           0.0      932.0    7
14      1.0   167.0  187.0  195.0  185.0           7.0      898.0   28
15      1.0   213.8   98.1   24.5  181.7           6.7     1066.0  100
16      1.0   237.5  237.5    0.0  228.0           0.0      932.0   28
17      1.0   336.0    0.0    0.0  182.0           3.0      986.0   28
18      1.0   190.7    0.0  125.4  162.1           7.8     1090.0    3
19      1.0   312.7    0.0    0.0  178.1           8.0      999.7   28
20      1.0   229.7    0.0  118.2  195.2           6.1     1028.1    3
21      1.0   228.0  342.1    0.0  185.7           0.0      955.8    7
22      1.0   236.0  157.0    0.0  192.0           0.0      972.6    7
23      1.0   132.0  207.0  161.0  179.0           5.0      867.0   28
24      1.0   331.0    0.0    0.0  192.0           0.0     1025.0   28
25      1.0   310.0  143.0    0.0  168.0          10.0      914.0   28
26      1.0   304.0   76.0    0.0  228.0           0.0      932.0   90
27      1.0   425.0  106.3    0.0  153.5          16.5      852.1   91
28      1.0   166.1    0.0  163.3  176.5           4.5     1058.6   28
29      1.0   255.0   99.0   77.0  189.0           6.0      919.0   28
...     ...     ...    ...    ...    ...           ...        ...  ...
1000    1.0   165.0    0.0  143.6  163.8           0.0     1005.6  100
1001    1.0   233.8    0.0   94.6  197.9           4.6      947.0   28
1002    1.0   316.1  210.7    0.0  185.7           0.0      977.0   28
1003    1.0   323.7  282.8    0.0  183.8          10.3      942.7   56
1004    1.0   250.0    0.0   95.7  191.8           5.3      948.9   28
1005    1.0   387.0   20.0   94.0  157.0          14.3      938.0   28
1006    1.0   158.0    0.0  195.0  220.0          11.0      898.0   28
1007    1.0   288.0  192.0    0.0  192.0           0.0      932.0    3
1008    1.0   213.5    0.0  174.2  154.6          11.7     1052.3  100
1009    1.0   213.7   98.1   24.5  181.7           6.9     1065.8   28
1010    1.0   190.3    0.0  125.2  166.6           9.9     1079.0    3
1011    1.0   313.0    0.0    0.0  178.0           8.0     1000.0   28
1012    1.0   296.0    0.0    0.0  192.0           0.0     1085.0   90
1013    1.0   359.0   19.0  141.0  154.0          10.9      942.0   28
1014    1.0   153.1  145.0  113.0  178.5           8.0      867.2   28
1015    1.0   298.0    0.0  107.0  186.0           6.0      879.0   28
1016    1.0   140.0  133.0  103.0  200.0           7.0      916.0   28
1017    1.0   139.6  209.4    0.0  192.0           0.0     1047.0  180
1018    1.0   147.0  115.0   89.0  202.0           9.0      860.0   28
1019    1.0   288.0  192.0    0.0  192.0           0.0      932.0    7
1020    1.0   183.9  122.6    0.0  203.5           0.0      959.2    7
1021    1.0   203.5  305.3    0.0  203.5           0.0      963.4    3
1022    1.0   144.8    0.0  133.6  180.8          11.1      979.5   28
1023    1.0   141.3  212.0    0.0  203.5           0.0      971.8    7
1024    1.0   297.2    0.0  117.5  174.8           9.5     1022.8    3
1025    1.0   135.0    0.0  166.0  180.0          10.0      961.0   28
1026    1.0   531.3    0.0    0.0  141.8          28.2      852.1    3
1027    1.0   276.4  116.0   90.3  179.6           8.9      870.1   28
1028    1.0   342.0   38.0    0.0  228.0           0.0      932.0  270
1029    1.0   540.0    0.0    0.0  173.0           0.0     1125.0    7

[1030 rows x 8 columns]

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [8]:

import statsmodels.api as sm
import scipy.stats as stats
import matplotlib.pyplot as plt

x=['cyi', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
y=cars.mpg
X=sm.add_constant(X)
print(X)

model = sm.OLS(y,X).fit()
predictions = model.predict(X)
model.summary()

NameError: ignored

In [9]:
X = np.array(cars.wt).reshape(-1,1)
y = cars.disp
lm = linear_model.LinearRegression()
model = lm.fit(X, y)

predictions = model.predict(X)

print('R square is %1.3f' %lm.score(X, y))

NameError: ignored

In [0]:
L1 = [2, 4, 6, 10]
L2=L1
del(L2[2])
print(L1)

[2, 4, 10]

In [0]:
R = 25
D = 3

A = R-D
print(A)

22

In [0]:
A = [1, 2, 4, 5]
B=A
B

[1, 2, 4, 5]

In [0]:
A = [1, 2, 3, 4, 5]
B = [6, 7, 8, 9, 10]
C = A + B
C

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
A = [1, 2, 3, 4, 5]
B = [6, 7, 8, 9, 10]
dell(A 3)

SyntaxError: ignored

In [0]:
from sklearn import datasets
iris = datasets.load_iris()
iris

{'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': '/usr/local/lib/python3.6/dist-packages/sklearn/datasets/data/iris.csv',
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10')}

In [0]:
A = (90)
B = (100)
C = A - B 
C
D=C 
E = 10 
F = D-E
F
G = F * E
G

-200

In [0]:
df=pd.read_csv(C:\Users\RAVIKUMAR_G1\Desktop\Bulk\All region dispatch)

SyntaxError: ignored

In [0]:
df=pd.read_csv(matches.csv)
print(df.shape)
print(df.columns)
print(list(df.index){:10})
df.head(3)

SyntaxError: ignored

In [1]:
from google.colab import files
uploaded = files.upload()

In [2]:
from google.colab import files
uploaded = files.upload()

Saving concrete.csv to concrete.csv

In [0]:
from google.colab import files
uploaded = files.upload()

Saving road_accidents.csv to road_accidents.csv

In [0]:
import pandas as pd

df3=pd.read_csv('roads.csv')

print(df.shape)
print(df.columns)
print(list(df.index)[:10])
df.head()

(37, 11)
Index(['States/UTs', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'],
      dtype='object')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

,States/UTs,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Andhra Pradesh,17468.0,18859.0,15320.0,17465.0,17996.0,19081.0,14578.0,17355.0,7815,7263
1,Arunachal Pradesh,177.0,110.0,212.0,138.0,165.0,140.0,147.0,242.0,149,184
2,Assam,2575.0,2579.0,2776.0,2938.0,3741.0,3951.0,4174.0,4112.0,4186,4121
3,Bihar,2048.0,2677.0,3661.0,3968.0,3908.0,4746.0,5124.0,4470.0,4580,4250
4,Chhattisgarh,5883.0,5492.0,5849.0,5616.0,6341.0,6402.0,6183.0,5824.0,6049,6072

In [0]:
import pandas as pd

df4=pd.read_csv('road_accidents.csv')

print(df.shape)
print(df.columns)
print(list(df.index)[:10])
df.head()

(37, 11)
Index(['States/UTs', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'],
      dtype='object')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

,States/UTs,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Andhra Pradesh,17468.0,18859.0,15320.0,17465.0,17996.0,19081.0,14578.0,17355.0,7815,7263
1,Arunachal Pradesh,177.0,110.0,212.0,138.0,165.0,140.0,147.0,242.0,149,184
2,Assam,2575.0,2579.0,2776.0,2938.0,3741.0,3951.0,4174.0,4112.0,4186,4121
3,Bihar,2048.0,2677.0,3661.0,3968.0,3908.0,4746.0,5124.0,4470.0,4580,4250
4,Chhattisgarh,5883.0,5492.0,5849.0,5616.0,6341.0,6402.0,6183.0,5824.0,6049,6072

In [0]:
import pandas as pd

df=pd.read_csv('matches.csv')

print(df.shape)
print(df.columns)
print(list(df.index)[:10])
df.head()

(577, 18)
Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [0]:
import pandas as pd

df=pd.read_csv('matches.csv')

print(df.shape)
print(df.columns)
print(list(df.index)[:10])
df.head()

In [0]:
df1=pd.DataFrame({'metal':['steel','wood','copper'],'YM':[200,100,50],
                  'Ductile':[True,True,False]}, index=['m1','m2','m3'])
print(df1)

     metal   YM  Ductile
m1   steel  200     True
m2    wood  100     True
m3  copper   50    False

In [0]:
a=12
b=10
c=6
diff1 = abs(a - b)
diff2 = abs(b - c)
print(diff1)

2

In [0]:
De

In [0]:
df2=pd.DataFrame({'metal':['steel','copper','wood'],'UTS (Mpa)':[400,300,40],'YM':[20,10,5]},
                index=['me1','me2','me3'])
print(df2)
pd.concat([df1,df2])
print(df1)
print(df2)
pd.merge(df1,df2,on='metal',how='outer')

      metal  UTS (Mpa)  YM
me1   steel        400  20
me2  copper        300  10
me3    wood         40   5
     metal   YM  Ductile
m1   steel  200     True
m2    wood  100     True
m3  copper   50    False
      metal  UTS (Mpa)  YM
me1   steel        400  20
me2  copper        300  10
me3    wood         40   5

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

    metal  YM_x  Ductile  UTS (Mpa)  YM_y
0   steel   200     True        400    20
1    wood   100     True         40     5
2  copper    50    False        300    10

In [0]:
pd.concat([df3,df4])
print(df3)
print(df4)

             Category                 States/UTs        Total  Surfaced
0              States             Andhra Pradesh   168516.000     93573
1              States          Arunachal Pradesh     5262.000      5262
2              States                      Assam   222087.000     27622
3              States                      Bihar   167579.000     94421
4              States               Chhattisgarh    30295.000     30295
5              States                        Goa     5851.000      3221
6              States                    Gujarat    53288.000     50621
7              States                    Haryana     4622.000      4622
8              States           Himachal Pradesh    15145.000     14714
9              States            Jammu & Kashmir    13451.000     12404
10             States                  Jharkhand    17097.000     17097
11             States                  Karnataka   163957.000     90260
12             States                     Kerala   124864.349     79354
13             States             Madhya Pradesh   117722.000     75718
14             States                Maharashtra   262371.000    193806
15             States                    Manipur     7635.000      3919
16             States                  Meghalaya     1793.000      1194
17             States                    Mizoram     2561.000      2561
18             States                   Nagaland    23783.000     10930
19             States                     Odisha   213446.000    213446
20             States                     Punjab    62900.000     62900
21             States                  Rajasthan   103441.000     67313
22             States                     Sikkim     3343.000      3343
23             States                 Tamil Nadu   144583.000    107803
24             States                    Tripura    18165.000      8976
25             States                Uttarakhand     6933.000      6933
26             States              Uttar Pradesh   113531.000     79446
27             States                West Bengal   184088.000     38156
28  Union Territories  Andaman & Nicobar Islands      111.000       111
29  Union Territories                 Chandigarh     1219.000       967
30          All India                  All India  2259639.349   1400988
                   States/UTs      2006      2007      2008      2009  \
0              Andhra Pradesh   17468.0   18859.0   15320.0   17465.0
1           Arunachal Pradesh     177.0     110.0     212.0     138.0
2                       Assam    2575.0    2579.0    2776.0    2938.0
3                       Bihar    2048.0    2677.0    3661.0    3968.0
4                Chhattisgarh    5883.0    5492.0    5849.0    5616.0
5                         Goa    1507.0    1582.0    1935.0    1841.0
6                     Gujarat   11893.0   12755.0   14500.0   11845.0
7                     Haryana    3182.0    4214.0    4043.0    4199.0
8            Himachal Pradesh     993.0     960.0    1077.0    1116.0
9             Jammu & Kashmir    1885.0    2191.0    2874.0    2745.0
10                  Jharkhand    2221.0    1909.0    2044.0    2027.0
11                  Karnataka   21683.0   22236.0   21713.0   20433.0
12                     Kerala   14234.0   15629.0   14561.0   13851.0
13             Madhya Pradesh   19515.0   23033.0   22927.0   23591.0
14                Maharashtra   47843.0   47329.0   46895.0   46520.0
15                    Manipur     326.0     378.0     409.0     154.0
16                  Meghalaya     270.0     122.0     117.0     140.0
17                    Mizoram      51.0      46.0      67.0      51.0
18                   Nagaland     137.0     159.0      54.0      42.0
19                     Odisha    3642.0    3594.0    3820.0    3980.0
20                     Punjab    1633.0    2181.0    1942.0    2059.0
21                  Rajasthan   10838.0    8728.0    8582.0    8865.0
22                     Sikkim      51.0      47.0      68.0     160.0
23                 Tamil Nadu   22301.0   24319.0   24302.0   29076.0
24                  Telangana       NaN       NaN       NaN       NaN
25                    Tripura     292.0     287.0     218.0     173.0
26                Uttarakhand     689.0     711.0     704.0     823.0
27              Uttar Pradesh    8357.0   10182.0   11611.0   12665.0
28                West Bengal    5569.0    5308.0    5813.0    5163.0
29  Andaman & Nicobar Islands      80.0     110.0     120.0     175.0
30                 Chandigarh     480.0     486.0     416.0     392.0
31       Dadra & Nagar Haveli      24.0      40.0      30.0      19.0
32                Daman & Diu      17.0      35.0      13.0      23.0
33                      Delhi    8511.0    8197.0    8435.0    7516.0
34                Lakshadweep       0.0       0.0       0.0       0.0
35                 Puducherry     687.0     727.0     901.0     918.0
36                  All India  217062.0  227212.0  228009.0  230687.0

        2010      2011      2012      2013    2014    2015
0    17996.0   19081.0   14578.0   17355.0    7815    7263
1      165.0     140.0     147.0     242.0     149     184
2     3741.0    3951.0    4174.0    4112.0    4186    4121
3     3908.0    4746.0    5124.0    4470.0    4580    4250
4     6341.0    6402.0    6183.0    5824.0    6049    6072
5     2334.0    1906.0    1752.0    1920.0    1904    2019
6    11287.0   10797.0   10382.0    9434.0    8597    9101
7     3898.0    3907.0    3221.0    3485.0    3628    3892
8     1198.0    1153.0    1012.0    1093.0    1138     796
9     1982.0    2738.0    2540.0    2601.0    2421    2385
10    2367.0    2378.0    2496.0    2546.0    2547    2464
11   21841.0   18159.0   17797.0   18541.0   16617   17923
12   13712.0   13765.0   14147.0   13775.0   14171   15216
13   25596.0   25937.0   26726.0   26253.0   27474   27397
14   41409.0   39676.0   38227.0   36069.0   36473   37506
15     238.0     245.0     502.0     246.0     166     188
16     221.0     305.0     354.0     346.0     311     265
17      77.0      39.0      47.0      46.0      70      36
18      35.0      39.0      32.0      50.0     248      17
19    4397.0    4550.0    4378.0    4500.0    4405    5054
20    2247.0    2255.0    2175.0    2404.0    2641    2443
21    8880.0    8923.0    8407.0    8653.0    8964    8648
22      72.0     127.0      53.0      80.0     146      99
23   26955.0   28387.0   28224.0   27333.0   24869   28533
24       NaN       NaN       NaN       NaN   10328   11019
25     205.0     292.0     377.0     398.0     325     310
26     790.0     729.0     796.0     649.0     735     801
27   14453.0   13801.0   15715.0   15964.0   18605   17918
28    8694.0    8550.0    6025.0    5694.0    6892    6372
29     149.0      53.0      74.0      61.0     131     153
30     398.0     367.0     367.0     327.0     336     388
31      22.0      15.0      14.0      48.0      19      17
32      10.0      13.0      15.0      16.0      16      21
33    7260.0    7281.0    6937.0    7566.0    8623    7661
34       0.0       0.0       0.0       0.0       0       0
35     879.0     748.0     935.0     782.0     836    1362
36  233757.0  231455.0  223933.0  222883.0  226415  231894

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
df=pd.read_csv('matches.csv')

print(df.shape)
print(df.columns)
print(list(df.index)[:10])
df.head()

(577, 18)
Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [0]:
df[df['city']== 'Bangalore'] ['winner']
df[df]

In [0]:
least_difference1 = (1, 10, 100),
    least_difference2 = (1, 10, 12),
    least_difference3 = least_difference1 + least_difference2
    least_difference3

IndentationError: ignored

In [0]:
diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

IndentationError: ignored

In [0]:
import numpy as np 
import tensorflow as tf

In [0]:
import numpy as np 
import tensorflow as tf

In [0]:
D= {'AP':490, 'HB':333, 'AS':312}
del D['AP']

{'AS': 312, 'HB': 333}

In [0]:
D= {'AP':490, 'HB':333, 'AS':312}
D['TL']= "450"
D
D['HLR']= "420"
D

{'AP': 490, 'AS': 312, 'HB': 333, 'HLR': '420', 'TL': '450'}

In [0]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

In [0]:
print(abs(32))
print(abs(-32))

32
32

In [0]:
print("You've successfully run some Python code")
print("Congratulations!")

You've successfully run some Python code
Congratulations!